<li ngbNavItem="top" *ngIf=categ>
    <a ngbNavLink class="btn btn-outline-warning" style="margin: 15px;"> <i class="fa fa-balance-scale" ></i>{{categ}}</a>
    <ng-template ngbNavContent >
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>

    </ng-template>
</li>

<!-- <li ngbNavItem="middle">
    <a ngbNavLink class="btn btn-outline-warning" style="margin: 15px;"><i class="fa fa-users "></i>social</a>
    <ng-template ngbNavContent>
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
    </ng-template>
</li>
<li ngbNavItem="bottom">
    <a ngbNavLink class="btn btn-outline-warning" style="margin: 15px;"><i class="fa fa-university"></i>fiscal</a>
    <ng-template ngbNavContent>
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
    </ng-template>
</li> -->
