<section class="card p-5 mt-5 ">

    <div class="breadcrumb ondark mb-0 col-12">
      <li class="breadcrumb-item"> <a href="#">categorie</a>  </li>
      <li class="breadcrumb-item active"> juridique </li>
    </div>


  <!-- container //  -->
</section>
<div class="p-2"><h5> les derniéres mise a jours </h5>
    <li _ngcontent-c5=""><h6 _ngcontent-c5="">Documents parus depuis</h6><select _ngcontent-c5="" class="selectbox ng-pristine ng-valid ng-touched" name="topicalInterval">
        <option _ngcontent-c5="" value="7">Tous les 7 jours</option>
        <option _ngcontent-c5="" value="15">Tous les 15 jours</option>
        <option _ngcontent-c5="" value="30">Tous les 30 jours</option>
    </select></li>

</div>

<!-- ================ SECTION INTRO ================ -->
<section class="section-intro padding-top-sm">
<div class="container">
<main class="card p-3">
  <div class="row">
    <aside class="col-lg-3">
    <app-vaertical></app-vaertical>
    </aside>

    <div class="col-lg-9">
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
        <app-list-article></app-list-article>
     
    </div>
  </div>
</main>
</div> <!-- container end.// -->
</section>

