
       
                <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                    <div class="text-center p-4">
                        <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">reference:22222</div>
                        <h3 class="mb-3">Title 1</h3>
                        <span>date aa/m/dddd</span>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="assets/img/product-1.jpg" alt="">
                        <div class="product-overlay">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                        </div>
                    </div>
                </div>
        

