<app-topbar></app-topbar>

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" >
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/carousel-1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// recherche</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Document juridique et fiscal à portée</h1>
                           
                                <div class="row g-2 w-100  ">
                                    <div class="col flex-grow ">
                                      <div class="input-group  rounded-pill py-3 px-7">
                                       
                                        <select class="form-select" style="max-width:30%" fdprocessedid="">
                                            <option>tous les Categorie</option>
                                            <option>sociale</option>
                                            <option>fiscale</option>
                                            <option>juridique</option>
                                          </select>
                                      <input type="text" placeholder="entrer un mot clé" class="form-control" name="">
                                     
                                      <div class="input-field second-wrap">
                                          <button class="btn-primary  py-3 px-5" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i>chercher</button>
                                        </div>
                                      </div>
                                      
                                  </div>
                                 </div>
                         
                            <a routerLink="/avance" class="btn btn-primary rounded-pill py-3 px-5"><i class="fa fa-life-ring" aria-hidden="true"></i> Recherche avancée <i class="fa fa-life-ring" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/carousel-2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// recherche</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Document juridique ou fiscale à portée</h1>
                           
                                <div class="row g-2 w-100  ">
                                    <div class="col flex-grow ">
                                      <div class="input-group  rounded-pill py-3 px-7">
                                      
                                      <input type="text" placeholder="entrer un mot clé" class="form-control" name="">
                                      <select class="form-select" style="max-width:30%" fdprocessedid="">
                                        <option>Categorie</option>
                                        <option>sociale</option>
                                        <option>fiscale</option>
                                        <option>juridique</option>
                                      </select>
                                      <div class="input-field second-wrap">
                                          <button class="btn-primary  py-3 px-5" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i>chercher</button>
                                        </div>
                                      </div>
                                      
                                  </div>
                                 </div>
                         
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Recherche avancée</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Facts Start -->
<app-facts></app-facts>
<!-- Facts End -->
<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="assets/img/about-2.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="assets/img/about-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">// About Us</p>
                    <h1 class="display-6 mb-4">PROLEGAL...</h1>
                    <p>La Plateforme Global conseils offre le service de conseils et d’assistance sur les questions fiscales, juridiques et social attend des commentaires sur un guide pratique en développement des conseils stratégiques et une assistance technique aux pouvoirs publics.</p>
                  
                  
                    <a class="btn btn-primary rounded-pill py-3 px-5" routerLink="/globale">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Product Start -->
<div class="container-xxl bg-light my-6 py-6 pt-0">
    <div class="container">
        
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// les News</p>
            
        </div>
<div class="row g-4">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
         <app-product></app-product>
        </div>

    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <app-product></app-product></div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
         <app-product></app-product></div>
</div></div></div>
<!-- Product End -->

<!-- Team Start -->
<app-team></app-team>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl bg-light my-6 py-6 pb-0">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="text-primary text-uppercase mb-2">// Client's Review</p>
            <h1 class="display-6 mb-4">AVIS CLIENT</h1>
        </div>
       <app-testimonial></app-testimonial>
        </div>
</div>
<!-- Testimonial End -->
