<app-topbar></app-topbar>

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" >
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/carousel-1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// recherche</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Document juridique ou fiscale à portée</h1>
                           
                                <div class="row g-2 w-100  ">
                                    <div class="col flex-grow ">
                                      <div class="input-group  rounded-pill py-3 px-7">
                                      
                                      <!-- <input type="text" placeholder="entrer un mot clé" class="form-control" name="">
                                      <select class="form-select" style="max-width:30%" fdprocessedid="">
                                        <option>Categorie</option>
                                        <option>sociale</option>
                                        <option>fiscale</option>
                                        <option>juridique</option>
                                      </select> -->
                                      <div class="input-field second-wrap">
                                          <!-- <button class="btn-primary  py-3 px-5" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i>chercher</button> -->
                                        </div>
                                      </div>
                                      
                                  </div>
                                 </div>
                         
                            <!-- <a routerLink="/avance" class="btn btn-primary rounded-pill py-3 px-5"><i class="fa fa-life-ring" aria-hidden="true"></i> Recherche avancée <i class="fa fa-life-ring" aria-hidden="true"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/carousel-2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// recherche</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Document juridique ou fiscale à portée</h1>
                           
                                <div class="row g-2 w-100  ">
                                    <div class="col flex-grow ">
                                      <div class="input-group  rounded-pill py-3 px-7">
                                      
                                      <input type="text" placeholder="entrer un mot clé" class="form-control" name="">
                                      <select class="form-select" style="max-width:30%" fdprocessedid="">
                                        <option>Categorie</option>
                                        <option>sociale</option>
                                        <option>fiscale</option>
                                        <option>juridique</option>
                                      </select>
                                      <div class="input-field second-wrap">
                                          <button class="btn-primary  py-3 px-5" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i>chercher</button>
                                        </div>
                                      </div>
                                      
                                  </div>
                                 </div>
                         
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Recherche avancée</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Facts Start -->
<div id='cartes-categ' >
    <app-cartes-affichant-categories ></app-cartes-affichant-categories>
</div>
<!-- Facts End -->
<!-- About Start -->
<app-about-us></app-about-us>
<!-- About End -->
<!-- Product Start -->
<app-liste-articles></app-liste-articles>
<!-- Product End -->
<!-- Team Start -->
<app-partenaires></app-partenaires>
<!-- Team End -->
<!-- Testimonial Start -->
<app-avis-expert></app-avis-expert>
<!-- Testimonial End -->
<app-news-letter></app-news-letter>
